<!doctype html>
<html>
<head>
	<title>Passenger details</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<style>
		/* body 	{
			  background-color:#99afcc } */
			  html{
				height: 100%;
			  }
     
		body 		{
			
            background-image: url("bg1.jpg");
            background-repeat: repeat;
    background-size: 100% 100%; }
	

		.myDiv{
			    width:100%;
			    height:90%;
			    background:#d9ddd4;
			    border-radius: 25px;
			}
		.borderless td, .borderless th {
    			border: none;
		}
		.card{
			opacity: 0.75;
		}
		.navbar{
			
			background-color: black;
		}
		nav.btn{
			color: rgb(252, 246, 246);
		}
	</style>
</head>
<body>


   <nav class="navbar navbar-expand-sm  navbar-dark">
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	          <li class="nav-item active">
	  		<button type="submit" class="btn">Welcome <%= user.username %></button>
	          </li>
 		</ul>

		<a href="/profile">
    		    <button type="button" class="btn btn-danger">Home</button>
		</a>
 	 </div>
   </nav>

 <br>
 <br>
 <% if (data.length == 0) { %>
 		<div class="alert alert-danger"><%= "No results found" %></div>
 <% } %>


 <% for(var i=0;i<data.length;i++){ %>
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 50rem; margin:30px 30px 30px 30px">
	  <div class="card-header">
	    PNR : <%= data[i].PNR %>
	  </div>

	  <div class="card-body">
	    <p> Passenger ID : <%= id.id %> </p>
	    <p> From : <%= data[i].start %> </p>
	    <p> To   : <%= data[i].end %> </p>
	    <p> Date : <%= data[i].date_journey.toDateString(); %> </p>
	    <p> Status : <%= data[i].status %> </p>
		<p> Fare : <%= data[i].ticket_fare %> </p>
	  </div>

 </div>
<br>

<%}%>


</body>
</html>
