<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Passenger details</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	 
	<style>
		/* body 	{  
			  background-color:#99afcc } */
			 
        html {
    height: 100%
}
		body 		{ 
            background-image: url("bg1.jpg");
            background-repeat: no-repeat;
    background-size: 100% 100%; }
.navbar{
	background-color: black;
	color: white;
}
.btn{
	color: beige;
}
		
		.myDiv{
			    width:100%;
			    height:90%;
			    background:#d9ddd4;
			    border-radius: 25px;
			}
		.borderless td, .borderless th {
    			border: none;
		}
		/* button .mb-2{
			border:10px;
			border-color: black;
		} */
	</style>
</head>
<body>
     	
     	
   <nav class="navbar navbar-expand-sm  navbar-dark">
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	          <li class="nav-item active">
	  		<button type="submit" class="btn ">Welcome <%= user.username%></button>
	          </li>
 		</ul>
    
		<a href="/profile">
    		    <button type="button" class="btn btn-danger">Home</button>
		</a>   
 	 </div>
   </nav>            
 
 <br>
 <br>
 
 <form action="/pnr" method="post" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="inputPassword2" name="pnr" placeholder="PNR">
  </div>
  <button type="submit" class="btn btn-dark mb-2">Check Details</button>
</form>
   
   <% if(data.length>0) { %>
   <script type="text/javascript">
    $(window).on('load',function(){
        $('#exampleModalCenter').modal('show');
    });
</script>


	 <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalCenterTitle">Ticket Details</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
	      <pre>
PNR 		 : <%= data[0].PNR %></br>
Train Number     : <%= data[0].train_number %></br>
Date of Journey  : <%= data[0].date_journey.toDateString() %></br>
Date of Booking  : <%= data[0].date_booking.toDateString() %></br>
From  		 : <%= data[0].start %></br>
End  		 : <%= data[0].end %></br>
Gender  	 : <%= data[0].gender %></br>
Status  	 : <%= data[0].status %></br>
Seats  	 	 : <%= seats%></br>
Timings  	 : <%= timings%></br>



	      </pre>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		 
	      </div>
	    </div>
	  </div>
	</div>

   <% } %>   
   

	      
</body>
</html>
